:root {
  --primary-color: #357b70;
  --secondary-color: #e0b354;
  --dark-grey: #2b2b2b;
  --primary-font-weight: 700;
}

body {
  background-color: white;
  font-family: 'lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

h1 {
  font-size: 30px;
  font-weight: var(--primary-font-weight);
  font-variant: small-caps;
}

h2 {
  font-size: 24px;
  font-weight: var(--primary-font-weight);
  font-variant: small-caps;
}

h3 {
  font-size: 18px;
  font-weight: var(--primary-font-weight);
}

p {
  font-size: 15px;
  font-weight: var(--primary-font-weight);
  font-variant: small-caps;
}

a {
  color: var(--primary-color);
}

a:visited {
  color: #05676e;
}

a:hover,
a:focus {
  text-decoration: none;
}

a:active {
  color: #489c79;
}

button,
.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.9s opacity, 0.9s font-size;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
  font-size: 18px;
}

.button__secondary {
  background-color: var(--secondary-color);
  color: #2b2b2b;
}

.navigation-list__item--active {
  text-decoration: none;
}

.register-button {
  background-color: green;
  color: white;
}

.profile_portrait {
  float: left;
  width: 500px;
  margin-right: 40px;
  margin-left: 30px;
  border-radius: 50%;
}

* {
  box-sizing: border-box;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 5px;
}

/* start grid fallback */
.grid__item {
  display: inline-block;
  width: 33%;
}

/* end grid fallback */
@supports (display: grid) {
  .grid {
    display: grid;

    /* grid-template-columns: 300px 300px 300px; fractions are better than pixels - they are responsive */
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0%;
  }

  .grid__item {
    background-color: burlywood;
    width: auto;
    min-height: auto;
    margin: 5px;
  }

  .grid__item:last-child {
    grid-column: 3 / 3;
    grid-row: 1 / 4;
  }
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.social-media-icon {
  margin: 5px;
}

.goodbye {
  max-width: 1000px;
  margin: 0 auto;
}

.goodbye-picture {
  float: right;
  max-width: 150px;
  margin-top: 40px;
  margin-right: 40px;
  margin-left: 40px;
  border-radius: 50%;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.aboutgrid-heading {
  display: grid;
  text-align: center;
  background-color: cadetblue;
  grid-template-columns: 1 / 4;
  margin-top: 15px;
  margin-bottom: 15px;
}

.aboutflex {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.aboutflex__item {
  background-color: burlywood;
  width: auto;
  min-height: auto;
  margin: 5px;
  flex-grow: 1;
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item: last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;

  /* animation: 4s color-change infinite alternate linear;  the shorter way! */
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(446px, 50px);
  }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;

  /* animation: 30s cloud-move infinite alternate linear; the shorter way! */
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
