body{
    background-color:white;
    font-family: 'lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
}

h1{
    font-size: 30px;
    font-weight: 700;
    font-variant: small-caps;
}
h2{
    font-size: 24px;
    font-weight: 700;
    font-variant: small-caps;
}
h3{
    font-size: 18px;
    font-weight: 700;
}
p {
    font-size: 15px;
    font-weight: 700;
    font-variant: small-caps;
}
a{
    color: #357b70;
}
a:visited {
    color: #05676e;
}
a:hover, a:focus {
    text-decoration: none;
}
a:active {
color: #489c79;
}
button {
        border: none;
        display: inline-block;
        font-family: inherit;
        background-color: #357b70;
        color: white;
        text-decoration: none;
        padding: 10px;
        border-radius: 3px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.3);
        -webkit-transition: 0.9s opacity, 0.9s font-size;
        -o-transition: 0.9s opacity, 0.9s font-size;
        transition: 0.9s opacity, 0.9s font-size;
}
.button {
        border: none;
        display: inline-block;
        font-family: inherit;
        background-color: #357b70;
        color: white;
        text-decoration: none;
        padding: 10px;
        border-radius: 3px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.3);
        -webkit-transition: 0.9s opacity, 0.9s font-size;
        -o-transition: 0.9s opacity, 0.9s font-size;
        transition: 0.9s opacity, 0.9s font-size;
}
button:hover, 
button:focus,
    .button:hover,
    .button:focus {
        cursor: pointer;
        opacity: 0.8;
        font-size: 18px;
}
.button__secondary {
    background-color: #e0b354;
    color: #2b2b2b;
  }
.navigation-list__item--active {
    text-decoration: none;
}
.register-button {
    background-color: green;
    color: white;
}
.profile_portrait {
    float: left;
    width: 500px;
    margin-right: 40px;
    margin-left: 30px;
    border-radius: 50%;
}
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 20px;
}
.page-header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
}
.page-header__item:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
}
.navigation-list {
    list-style-type: none;
}
.navigation-list li {
    display: inline-block;
    margin-left: 5px;
}
/* start grid fallback */
.grid__item {
    display: inline-block;
    width:33%
}
/* end grid fallback */
@supports (display: grid) {
.grid{
    display: -ms-grid;
    display: grid;
    /* grid-template-columns: 300px 300px 300px; fractions are better than pixels - they are responsive */
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0%;
    }
.grid__item {
    background-color: burlywood;
    width: auto;
    min-height: auto;
    margin: 5px;
}
.grid__item:last-child {
    -ms-grid-column: 3;
    grid-column: 3 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1 / 4;
}
}
.page-footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
}
.social-media-icon {
    margin: 5px;
}
.goodbye {
    max-width: 1000px;
    margin: 0 auto;
}
.goodbye-picture {
    float: right;
    max-width: 150px;
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 40px;
    border-radius: 50%;
}
.profile {
    max-width: 700px;
    margin: 0 auto;

}
.aboutgrid-heading {
    display: -ms-grid;
    display: grid;
    text-align: center;
    background-color: cadetblue;
    -ms-grid-columns: 1 / 4;
    grid-template-columns: 1 / 4;
    margin-top: 15px;
    margin-bottom: 15px;
}
.aboutflex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: center;
}
.aboutflex__item {
    background-color: burlywood;
    width: auto;
    min-height: auto;
    margin: 5px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}
@media all and (max-width: 500px) {
    .grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}
@media all and (min-width: 500px) and (max-width: 750px){
    .grid {
        -ms-grid-columns: 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr;
    }
}
@media all and (max-width: 750px) {
    .grid{
        grid-gap: 10px;
    }
    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
    h1 {
        font-size: 22px;
    }
}
@-webkit-keyframes color-change {
    0% {
        fill: #edc655;
    }
    50% {
        fill: #fcffad;
    }
    100% {
        fill: #f76414;
    }
}
@keyframes color-change {
    0% {
        fill: #edc655;
    }
    50% {
        fill: #fcffad;
    }
    100% {
        fill: #f76414;
    }
}
.sun {
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-name: color-change;
            animation-name: color-change;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    /*animation: 4s color-change infinite alternate linear;  the shorter way!*/
}
@-webkit-keyframes cloud-move {
    from {
        -webkit-transform: translate(0, 50px);
                transform: translate(0, 50px);
    }
    to {
        -webkit-transform: translate(446px, 50px);
                transform: translate(446px, 50px);
    }
}
@keyframes cloud-move {
    from {
        -webkit-transform: translate(0, 50px);
                transform: translate(0, 50px);
    }
    to {
        -webkit-transform: translate(446px, 50px);
                transform: translate(446px, 50px);
    }
}
.cloud-front {
    -webkit-animation-duration: 30s;
            animation-duration: 30s;
    -webkit-animation-name: cloud-move;
            animation-name: cloud-move;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    /*animation: 30s cloud-move infinite alternate linear; the shorter way!*/
}
@-webkit-keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(446px, 48px);
                transform: translate(446px, 48px);
    }
    to {
        -webkit-transform: translate(100px, 48px);
                transform: translate(100px, 48px);
    }
}
@keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(446px, 48px);
                transform: translate(446px, 48px);
    }
    to {
        -webkit-transform: translate(100px, 48px);
                transform: translate(100px, 48px);
    }
}
.cloud-back {
    -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
            animation: 34s cloud-move-reverse infinite alternate linear;
}